# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
coverage/
playwright-report/
test-results/
